<div class="row">
  {% for plan in plans %}
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body text-center">
          <h4>{{ plan.name }}</h4>
          <h2>KES {{ plan.price }}</h2>
          <p>{{ plan.max_properties }} Properties</p>

          <form method="post" action="{{ url_for('subscriptions.pay_plan', plan_id=plan.id) }}">
            {{ csrf_token() }}
            <button type="submit" class="btn btn-success w-100">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
